.booking-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .booking-details,
  .provider-info {
    margin-bottom: 20px;
  }

  .provider-info{
    text-decoration:dashed;
    text-align: end;
    margin-left: 200px;
  }
  
  .provider-info p {
    margin-bottom: 5px;
  }